footer {
    background-color: #364559;
    color: #BDD9F2;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center; /* left, center, right */
    align-items: center;
    text-align: center;
}
