* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    font-size: 20px;
}

body {
    background-color: #0d3558;
}

main {
    padding-bottom: 20px;
    display: flex;
    min-height: 100vh;
    background-image: 
        linear-gradient(rgba(13, 53, 88, 0.851), rgba(0, 0, 0, 0.751)),
        url(../img/background.webp);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0d3558;

    /* Ostatní styly */
    flex-direction: column;
    color: white;
    align-items: center;

    
}

/* Roztáhneme samotný obal nadpisu */
.main_heading {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 100%;           /* Roztáhne element na 100 % šířky rodiče */
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.align_left {
    width: 500px;
    text-align: left;
    font-size: 20px;
    margin-top: 15px;
}

.align_center {
    width: 500px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}


/* ########################################################################### */

/* styly pro oop.php pro účely učení */
main .oop {
    display: flex;
    flex-direction: column;

    width: 1200px;
    min-height: 800px;
    
    align-self: flex-center; /* flex-start - Zůstává vlevo  flex-center, flex-end */
    
    /* VERTIKÁLNÍ CENTROVÁNÍ: */
    margin-top: 10px; /* auto pro umístění na střed*/
    margin-bottom: auto;
    
    text-align: left;
    color: white;
    font-size: 28px;
    /* border: 2px solid red; */
    background-color: rgb(5, 70, 126);
    padding: 10px;
}

