.one_student_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(0, 0, 0, 0.2);
    border: 2px solid #BDD9F2; /* Vaše světle modrá */
    border-radius: 6px;
    transition: all 0.1s linear;
    margin-top: 15px;
}

.text_container {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (min-width: 470px) {
  .one_student_card {
    min-width: 470px;
  }
}